@import url('https://fonts.cdnfonts.com/css/safira-march-personal-use');

body {
    margin: 0;
    padding: 0;
    font-family: 'Safira March Personal Use', sans-serif;
    background-color: #C6EDC3;
  }
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .main-text {
    font-size: 4.2rem;
    font-weight: bold;
  }
  .sub-text {
    font-size: 1.2em;
    margin-top: 20px;
  }
  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    text-decoration: none;
    font-size: 1.2em;
  }
  .button:hover {
    background-color: #CCCCCC;
    cursor: pointer;
  }
  .chess-piece {
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100px;
    border-radius: 4px;
    size: 5rem;
    border: 2px solid black;
  }